*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 45px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f4;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-list-nav ul{
    display: flex;
}
.header-list-nav ul li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
.header-list-nav ul a{
    text-decoration: none;
    font-size: 160x;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.8ms;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active{
    color: #088178;
    content: "";
}
.header-logo img{
    width: 100px;
    height: 80px;
}
.header-list-icon a{
    color: #1a1a1a;
    padding-left: 20px;
    transition: 0.8ms;
}
.header-list-icon a:hover{
    color: #088178;
}

.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    background-image: url(Images/main.jpeg) ;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}
#hero h4{
    padding-bottom: 15px;
    font-size: 40px;
}
#hero h2{
    font-size: 70px;
}
#hero h1{
    color: #088178;
    font-size: 70px;
}
#hero button{
    background-color: transparent;
    background-image: url(Images/shopNow.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 75px;
    border: 0;
    cursor: pointer;
    padding: 14px 65px 14px 65px;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1pz solid #cce7d0;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}

#features .f-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.01);
}

#features .f-box img{
    width: 100%;
    margin-bottom: 10px;
}

.product-section .pro-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}
.product-section h1,
.product-section p{
    text-align: center;
}
.product-section .product-cart{
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    transition: box-shadow(0.2s);
}

.product-section .product-cart:hover{
    box-shadow:  20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product-section .product-cart img{
    width: 100%;
    border-radius: 10px;
}
.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}
.product-section .product-cart h4{
    font-size: 18px;
    color: rgb(41, 41, 41);
}

.product-section .product-cart .stars{
    color: #e6ae2c;
    padding: 4px 0;
}

.product-section .product-cart .price{
    color: #088178;
    padding: 4px 0;
}
.product-section .product-cart .buy-icon{
    color: #088178;
    background-color: #c7e9e75e;
    padding:  15px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#off-banner{
    background-image: url(Images/banner1.jpg);
    background-size: 100%;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#off-banner h4{
    color: #eaebf0;

}

#off-banner h2{
    color: #eaebf0;
    padding: 20px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px;
    color: #000;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    transition: 0.2s;
}

#banner{
    margin: 0 60px;
}

#banner h2,h4,span{
    color: rgb(248, 248, 248);
}

#banner .big-banner{
    display: flex;
    align-items: center;
    justify-content: cen;
}

#banner .big-banner div{
    min-width: 700px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background-size: cover;
    backdrop-filter: blur(8%);

}

#banner .big-banner-1{
    background-image: url(Images/bigBanner.jpg);
}
#banner .big-banner-2{
    background-image: url(Images/bigBanner.jpg);
}
#banner .small-banner-1{
    background-image: url(Images/bigBanner.jpg);
}
#banner .small-banner-2{
    background-image: url(Images/bigBanner.jpg);
}
#banner .small-banner-3{
    background-image: url(Images/bigBanner.jpg);
}

#banner .big-banner button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
}
#banner .big-banner div:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#banner .small-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .small-banner div{
    min-width: 380px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
}
#banner .small-banner h2{
    font-size: 25px;

}

#banner .small-banner h5{
    color: #771818;
}

#footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  }
  #footer div{
  }
  #footer p, #footer a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  #footer a:hover{
    color:#088178;
  }
  #footer .about a{
    display: block;
    padding:8px 0;
  }
  #footer .myaccount a{
    display: block;
    padding:8px 0;
  }